html
  head
    title User Listing
  body
  a(href="/users/create-user") Create New User
    table(style='width:100%', border='1')
        thead 
            th Id
            th Name 
            th Email
        tbody 
            each users in user_list
             tr
             td= 33
             td= 1
                td= users.email