html
  head
    title User Listing
    a(href="/users/create-user") Create New User
  body
  
    table(style='width:100%', border='1',class="table table-bordered")
        thead 
            th Id
            th First Name 
            th Middle Name
            th Last Name
            th Email
            th Action
        tbody 
            each users in user_list
             tr
             td= 33
             td= users.first_name
             td= users.middle_name
             td= users.last_name
             td= users.email
             td= 1